.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
  padding: 3rem;
  justify-content: center;
  align-items: center;
}

.maps {
  display: flex;
  width: 90%;
  gap: 1rem;
  justify-content: center;
}
