.container {
  padding: 0.5rem;
}

.grafikonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grafikonContent {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.mapContainer {
  /* width: 50rem;
  height: 50rem;
  background-color: red; */
}

.busStopList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.busStop {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.busStopName {
  font-weight: bold;
}

.busStopDetail {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: grey;
}

.map {
  height: 30rem;
  width: 30rem;
}
