.map {
  height: calc(100vh - var(--navbarHeight));
  min-width: 10rem;
}

.sidebar {
  position: absolute;
  top: var(--navbarHeight);
  transition: ease-in-out 0.5s;
  width: 20rem; /* Adjust as needed */
  height: calc(100vh - var(--navbarHeight));
  background-color: rgba(30, 128, 0, 0.39);
  z-index: 1000; /* Adjust as needed */
  right: -20rem;
  font-size: larger;
}

.sidebar_closed {
  right: -20rem;
}

.sidebar_open {
  right: 0;
}

.container {
  overflow: hidden;
  overflow-x: hidden;
}
