.main {
  display: flex;
  /* flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh; */
  padding: 0%;
}

.map {
  min-height: 50rem;
  min-width: 10rem;
}

.foo {
  color: red;
}

.navButton {
  flex-grow:1;
  /* border:none; */
  background-color: none;
  border-bottom: 5px black;
  padding-bottom: 10px;
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
