.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
  padding: 3rem;
  justify-content: center;
  align-items: center;
}

.maps {
  display: flex;
  width: 90%;
  gap: 1rem;
  justify-content: center;
}

.iframeContainer {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 1rem;
  border: solid 3px black;
  overflow-y: scroll;
}
